@import '~antd/dist/antd.css';

/* ClassicLayout */

.map-container {
    width: 1000px;
    height: 500px;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: white !important;
}

.anticon {
    color: #595959;
}

.ant-carousel .slick-slide {
    height: 500px;
    line-height: 500px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }